<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<title>MSU Academic Honesty Policy</title>
	<script>
  $(function() {
    $( document ).tooltip();
  });
  </script>
  <style>
  label {
    display: inline-block;
    width: 5em;
  }
  </style>
	</head>
	<body>
		<main>
		<table style="width:100%" align="center">
			<tr id="table_cell_heading">
				<th colspan="2"><h1 id="table_heading">University Policy</h1></th>
			</tr>
			<tr>
				<td>
					<p><b>Policy Name: </b>Academic Honesty</p>
				</td>
				<td>
					<p><b>Effective Date of Last Revision</b><br>
					July 1, 2013</p>
				</td>
			</tr>
			<tr>
				<td>
					<p><b>Custodian of Policy: </b>Vice President for Academic Affairs</p>
					<p><b>Date of Policy Adoption</b><br>
					July 2000</p>
				</td>
				<td>
					<p><b>Date of Last Review Initiated</b><br>
					September 2012</p>
					<p><b>Date of Next Review</b><br>
					September 2019</p>
				</td>
			</tr>
		</table>
		<p></p>
		<h1><b>Policy</b></h1>
		<p id="paragraph">As members of this University community, students assume the responsibility to fulfill their academic obligations in a 
		fair and honest manner. This responsibility includes avoiding inappropriate activities such as <a href="http://jqueryui.com/themeroller/" title="the practice of taking someone else's work or ideas and passing them off as one's own">plagiarism</a>, <a href="http://jqueryui.com/themeroller/" title="act dishonestly or unfairly in order to gain an advantage, especially in a game or examination">cheating</a> or
		<a href="http://jqueryui.com/themeroller/" title="secret or illegal cooperation or conspiracy">collusion</a>. Students found responsible for one or more of these activities may face both academic sanctions (such as lowering
		a grade, failing a course, etc.) and disciplinary sanctions (such as <a href="http://jqueryui.com/themeroller/" title="the process or period of testing or observing the character or abilities of a person in a certain role">probation</a>, <a href="http://jqueryui.com/themeroller/" title="the official prohibition of someone from holding their usual post or carrying out their usual role for a particular length of time">suspension</a>, or <a href="http://jqueryui.com/themeroller/" title="the process of forcing someone to leave a place">expulsion</a>).</p>
		
		<p id="paragraph">It is the intent of Minnesota State University, Mankato to encourage a sense of integrity on the part of students in 
		fulfilling their academic requirements. To give students a better understanding of behaviors that may constitute academic
		dishonesty by a student, the following definitions are provided.</p>
		<p id="paragraph">Plagiarism: Submission of an academic assignment as one's own work, which includes critical ideas or written narrative
		that are taken from another author without the proper citation. This applies both to direct quotes and to critical ideas paraphrased by the 
		student. Plagiarism includes but is not limited to: </p>
			<p id="paragraph3">submitting the work as your own;<br>
			submitting others' work as your own with only minor changes;<br>
			submitting others' work as your own without adequate footnotes, quotations, and other reference forms; or<br>
			multiple submissions of the same work, written or oral, for more than one course without both instructor's permission, or making minor revisions on 
			work which has received credit and submitting it again as new work.</p>
		<p id="paragraph">Cheating: Use of unauthorized material or assistance to help fulfill academic assignments. This material could include 
		unauthorized copies of test materials,
		calculators, electronics, crib sheets, help from another student, etc.</p>
		<p id="paragraph">Collusion: Assistance to another student or among students in committing the act of cheating or plagiarism.</p>
		
		<h1><b>Procedures</b></h1>
		<p id="paragraph">As this policy refers to academic obligations, the process will be managed in the academic department(s),
		college(s) and the Office of Academic Affairs.</p>
		<p id="paragraph">Step 1: When a faculty member suspects that an incident in violation of academic honesty has taken place, the faculty member shall;</p>
			<p id="paragraph4">Alert the student to the alleged violation of the academic honesty policy<br>
			Present to the student evidence in support of the allegation<br>
			Offer to meet with the student to discuss the alleged violation of the academic honesty policy<br>
			Maintain copies of all the evidence and a record of the meeting with the student.</p>
		<p id="paragraph">After alerting the student to the alleged violation, and meeting with the student (if the student wishes to meet), 
		the faculty member will make the following determination.</p>
		<p id="paragraph4">No corrective action-alleged incident did not meet the criteria of a violation of academic honesty.<br>
			No corrective action-in the opinion of the faculty member the incident is best dealt with by additional education about the academic honesty policy.<br>
			Assign a grade of F to the assignment and/or record zero (0) points for the assignment<br>
			Drop the student from the course with a grade of F for the course<br>
			Drop the student from the course with a grade of F for the course and move to have the student dismissed from the program</p>
		
		<p id="paragraph">In instances where departments have already established policies and practices for addressing academic honestly violations, the faculty member will follow those
		existing policies and practices.</p>
		<p id="paragraph">Step 2: Student appeal process: </p>
		<ul style="list-style-type:disc">
			<li>Following the decision by the faculty member to implement the corrective action, the student may appeal the decision
			of the faculty member to the department chair. As part of this appeal, the department chair will: </li>
			<ul style="list-style-type:circle">
				<li>Meet with the student and the faculty member to review the allegation, the evidence and 
				discuss with both parties the allegation and the corrective action. Following this meeting, the department
				chair will: </li>
				<ul style="list-style-type:disc:">
					<li>Support the faculty member's corrective action or</li>
					<li>Suggest an alternative corrective action</li>
				</ul>
				<li>This meeting must take place within 10 days of the faculty member's decision. In instances where
				the 10 day limit would fall outside of duty days for faculty, the time limit will be expanded (for example, over the winter break or over summer)</li>
			</ul>
			<li>Appeal the decision of the Chair to the Dean of the College (or designee). In incidents involving students who have yet to declare a major, the appeal 
			will be made to the Assistant Vice President for Undergraduate Studies. In this appeal the Dean/designee will:</li>
			<ul style="list-style-type:circle">
				<li>Meet with the student, faculty member and chair to review the allegation, the evidence and discuss with both parties the allegation and the corrective action. 
				Following this meeting, the Dean/designee will:</li>
					<ul style="list-style-type:disc">
						<li>Support the proposed corrective action or</li>
						<li>Suggest an alternative corrective action</li>
					</ul>
				<li>This meeting must take place within 10 days of the department chair's decision. In instances where the 10 day limit would fall outside of duty days for faculty, the time limit will be expanded (for example,
				 over the winter break or over summer)</li>
			</ul>
			<li>Appeal the decision of the Dean/designee to Vice President for Academic Affairs (or designee). In this appeal, the Vice President for Academic Affairs/designee will</li>
			<ul style="list-style-type:circle">
				<li>Meet with the student, faculty member, chair and Dean to review the allegation, the evidence and discuss with both parties the allegation and the corrective action. Following this meeting, 
				the Dean/designee will: </li>
				<ul style="list-style-type:disc">
					<li>Support the proposed corrective action or</li>
					<li>Suggest an alternative corrective action</li>
				</ul>
				<li>This meeting must take place within 10 days of the Dean/designee's decision. In instances where the 10 day limit would fall outside of duty days for faculty, the time limit will be expanded (for example,
				 over the winter break or over summer)</li>
				 <li>The decision of the Vice President for Academic Affairs/designee will be final.</li>
				</ul>
			</ul>
		<p id="paragraph">Step 3: Faculty member appeal <br>
		The faculty member also has the right to appeal the decision of the chair. Should the faculty member wish to appeal the decision of the chair, the appeal will be made to the Dean/Designee.
		In incidents involving students who have yet to declare a major, the appeal will be made to the Assistant Vice President for Undergraduate Studies and International Education. In this appeal the Dean/designee will: </p>
			 <ul>
			 <ul style="list-style-type:circle">
				<li>Meet with the student, faculty member and chair to review the allegation, the evidence and discuss with both parties the allegation and the corrective action. Following this meeting, the Dean/designee will: </li>
					<ul style="list-style-type:disc">
						<li>Support the proposed corrective action or</li>
						<li>Suggest an alternative corrective action</li>
					</ul>
			</ul>
			</ul>
		<p id="paragraph">This meeting must take place within 10 days of the department chair's decision. In instances where the 10 day limit would fall outside of duty days for faculty, the time limit will be expanded (for example, over the winter break 
		or over summer). If the faculty member disputes the decision of the Dean/Designee, the faculty member may then: </p>
			<ul style="list-style-type:disc">
				<li>Appeal the decision of the Dean/designee to Vice President of Academic Affairs (or designee). In this appeal, the Vice President for Academic Affairs/designee will</li>
					<ul style="list-style-type:circle">
						<li>Meet the student, faculty member, chair and Dean to review the allegation, the evidence and discuss with both parties the allegation and the corrective action. Following 
						this meeting, the Dean/designee will: </li>
							<ul style="list-style-type:disc">
								<li>Support the proposed corrective action or</li>
								<li>Suggest an alternative corrective action</li>
							</ul>
							<li>This meeting must take place within 10 days of the Dean/designee's decision. In instances where the 10 day limit would fall outside of duty days for faculty, the time limit will be expanded (for example,
							over the winter break or over summer)</li>
							<li>The decision of the Vice President for Academic Affairs/designee will be final.</li>
					</ul>
			</ul>
		<p id="paragraph">All efforts should be made to resolve the allegations at the lowest level possible. All records will be maintained by the Office of Academic Affairs. Cumulative decisions against a particular student may lead to increased levels of corrective actions.</p>
		<h1><b>Rationale</b></h1>
		<p id="paragraph">In order for an academic community to teach and support appropriate educational values, an environment of trust, cooperation, 
		and personal responsibility must be maintained. Adherence to principles and practices of academic honesty is a key requirement for any student at 
		Minnesota State University, Mankato.</p>
		</main>
		<script src="http://knockoutjs.com/downloads/knockout-3.2.0.debug.js" type="text/javascript"></script>
	</body>
</html>
