<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<title>MSU Academic Policies and Procedures</title>
	<%= csrf_meta_tags %>
	</head>
	<body>
	<p id="color">     .     </p>
	<h1 id="heading"><b>MSU Academic Policies and Procedures</h1>
	<p id="color">     .     </p>
	<br></br>
	<p id="padding">
	<%= link_to 'MSU Academic Honesty Policy', welcome_academic_path %>
	</p>
	<p id="padding">
	<%= link_to 'MSU Student Conduct Process', welcome_spspss_path %>
	</p>
	</body>
</html>