<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="utf-8">
	<title>MSU Student Conduct Process</title>
</head>
<body>
		<%= image_tag "front_page.png" %>
		<h1 id="ssp" class="background">Introduction</h1>
		<p id="ssp">The Statement of Student Responsibilities is influenced by the Minnesota State Mankato's statement of Core Values: </p>
		<p id="ssp">Minnesota State Mankato is an innovative, student-centered learning community that values: </p>
		<ul id="ssp">
			<li class="list">Integrity and respect in the way we conduct ourselves;</li>
			<li class="list">Diversity in who we are and what we do;</li>
			<li class="list">Access to our programs and services that create opportunities for all to pursue their dreams;</li>
			<li class="list">Responsibility to those we serve by providing an education that inspires solutions to society's challenges;</li>
			<li class="list">Excellence in our academic and non-academic pursuits.</li>
		</ul>
		<p id="ssp">Minnesota State Mankato encourages scholarship and is committed to the acquisition of knowledge. A student's first responsibility is to study. To allow individuals to pursue successfully their educational, professional and personal objectives, the University identifies responsibilities expected of students as members of this learning community.</p>
		<ul id="ssp">
			<li class="list">Each student is responsible for knowing and adhering to the prescribed community standards. A student found to have violated the "Statement of Student Responsibilities" policy will receive a maximum disciplinary sanction of expulsion, or any sanction not less than a warning.</li>
			<li class="list">Disciplinary action is cumulative resulting in more serious consequences if the student engages in repeat violations or fails to follow through with sanctions from a previous hearing.</li>
			<li class="list">Being under the influence of alcohol and/or other drugs does not in any way excuse or mitigate responsibility for a student's actions. The excessive, illegal, unprescribed or otherwise socially irresponsible use of alcohol or other drugs infringes upon one's ability to preserve personal integrity and civility.</li>
			<li class="list">Any violation of the Statement of Student Responsibilities policy is aggravated in severity when bias motivation is involved.</li>
		</ul>
		<h1 id="ssp" class="background">Policy Statement</h1>
		<p id="ssp">Students are dual members of the Minnesota State University, Mankato community and society. Good citizenship is expected of all students regardless of location. Students who engage in alleged violations of the "Statement of Student Responsibilities" policy may also face civil or criminal penalties. This Statement is not intended to replace federal, state or local legal processes.</p>
		<p id="ssp">The Statement of Student Responsibilities was established by students, faculty, and staff to clarify behavioral expectations of students. The following responsibilities promote a sense of community where maturity, personal accountability, and positive regard for the well-being of others fram choices and decision-making:</p>
		<h1 id="ssp" class="background">Student Responsibilies</h1>
		<ol id="ssp">
			<li><b>Individuals will fulfill their academic responsibilities in an honest and forthright manner. <br>
			<i>All students have a responsibility to maintain the academic integrity of the university and each student must at all times keep in mind that his or her behavior reflects not only upon him/herslef, but upon other students, the faculty, and the university as a while. Each and every student is responsible for becoming familiar with and abiding by the University policy on plagiarism and acadmic honesty as well as the guidelines and policies established by their instructors and programs of study.</i></b><br>
			<br>
			Examples of violations include but are not limited to: plagiarism (such as using another's phrasing, concepts, or line of reasoning as your own); submitting course assignments that are not your own; submitting the same paper in different classes without prior approval from both instructors; cheating on assignments, laboratory reports or examinations; acquiring or using test materials without faculty knowledge; failure to follow class policy; obtaining academic benefits through inappropriate application of technology; computer fraud or unauthorized access; engaging in academic fraud alone or with others; downloading material off the Internet without proper citation; illicit attempts to influence grading; failing to abide by test-taking procedures; signing the class attendance roster for an absent student.</li>
			<br>
			<li><b>Individuals will respect and foster the academic endeavors of others.<br>
			<i>Minnesota State Mankato exists to promote learning, and as such, students must behave in such a way so as to allow the process of learning to take place by group or individual.</b></i><br>
			<br>
			Examples of violations include but are not limited to: harasment of a faculty member; disrupting teaching or learning; excessive noise that disrupts classes, studying or University activites; other activities that seriously disrupt the educational process; intentionally altering, inhibiting or stealing another person's research.</li>
			<br>
			<li><b>Individuals will respect the integrity of the University's academic and administrative records.<br>
			<i>Those records are the property of the University and must be treated as such.</b></i><br>
			<br>
			Examples of violations include but are not limited to: acting alone or with others to misrepresent academic status, performance, awards or graduation material; omitting material from or manipulating records; falsifying, altering, stealing or destroying University documents; altering, forging or misusing University academic records; obtaining grades, course access, awards, or endorsements dishonestly; computer fraud.</li>
			<br>
			<li><b>Individuals will adhere to all policies and regulations of Minnesota State Mankato and the Minnesota State Colleges and Universities system along with federal, state and local laws that govern individual actions and relationships among community members.<br>
			<i>When students accept admission to Minnesota State Mankato, they accept the responsibilities that go along with membersip in the University community. The University compiles with federal, state and local laws, and expects students to act in accordance with the law. The University holds students to high standards of conduct and ethical behavior, which may exceed legal obligations.</i></b><br>
			<br>
			Examples of violations include but are not limited to: sexual violence; unauthorized or illegal consumption of possession of alcohol; public drunkenness; possession, sale or distribution of illegal material or substances; violation of University or departmental policies, violation of law; defenestration (throwing items out a window); violation of University e-mail or computer usage policy; possession of false identification; engaging in riotous behavior or encouraging others to do so; illegal gambling; inappropriate use of electronic devices, e.g. cell phones.</li>
			<br>
			<li><b>Individuals will protect and support the personal safety of self and others.
			<br><i>Living in a community requires that students respect another's personal space. Students have the right to pursue their academic and personal goals free from the threat of injury, threats or unwanted contact. Self injurious behavior has the potential to adversely disrupt the academic and personal success of both the student involved and other Minnesota State Mankato students. Physical safety is a prerequisite for maintaining an educational environment. Violations of these expectations need to be addressed in order to maintain the boundaries of all students.</b></i><br>
			<br>
			Examples of violations include but are not limited to: sexual violence; indecent exposure; stalking (persistent unwelcome contact or observation); threatening with a weapon or simulated weapon; fighting; physical contact with another person; endangering the health or safety of self or others; reckless actions taken with disregard from the harm that may ensue to self or others; participation in a disturbance which may endanger self or others.</li>
			<br>
			<li><b>Individuals will demonstrate civility for others in all their interactions.<br>
			<i>As a member of the Minnesota State Mankato community, all students owe to their fellow students, as well as to the faculty, staff, and other members of the community, a basic level of respect; and students have a right to be treated with respect as well. Minnesota State Mankato respects and protects the right of students, faculty, staff and visitors to engage in argument, to advance their opinions and beliefs without fear or reprisal or punishment, and to disagree with one another provided that the exercise of those rights take place within a context of civility and respect for others.</i></b>
			<br>
			<br>
			</b></i>Examples of violations include but are not limited to: disruptive noise; terroristic threats; sexual harassment; verbal or written intimidation; severe or persistent harassment through verbal, written or graphic expression; hazing (defined as mandating undesirable activities, a pattern of banter/ridicule/criticism and/or the use of humiliation, as a form of initiation); actions that substantially interfere with another person's right to learn and participate.</li>
			<br>
			<li><b>Individuals will show respect for personal and University property.<br>
			<i>As a member of the Minnesota State Mankato community, all students will recognize, value, and appropriately regard personal and University property.</i></b>
			<br>
			<br>
			Examples of violations include but are not limited to: identity theft; vandalism; theft; actual or threatened damage to property; acting fraudulently to obtain goods, services or funds from University departments, student organizations or individuals; misuse and/or wrongful use of University facilities, equipment or services; failure to return University equipment; wronful sale or use of another's property; knowingly possessing or using stolen property; littering; public urination; trespassing; unauthorized possession, distribution or duplication of a University key(s); providing a key or ID to another person without proper authorization; providing another person with unauthorized access to a secured area; intentional harm to computer equipment or programs.</li>
			<br>
			<li><b>Indivudals will contribute to a safe environment within the University community.<br>
			<i>The University is a community and requires the active peaceable and safe. Students are encouraged to respect and be proactive about their own safety and the safety of others. </i></b><br>
			<br>Examples of violations include but are not limited to: possession of weapons, incendiary devices or explosives; possession of articles or substances that are used as weapons or simulated weapons; misuse of University keys; will failure to identify or false identification of oneself or one's guest(s); misuse or damage of fire fighting, safety or other emergency equipment; failure to comply with appropriate requests from University Security or other University staff members; intoxication that disrupts other individuals or the University's activities; self-injurious substance abuse; or interference with law enforcement or University staff performing their duties.</li>
			<br>
			<li><b>Individuals will comply with the University in enforcing its administrative responsibilities. <br>
			<i>Successful operation of the University requires adherence to policies and procedures by its members. It is the responsibility of all University students, staff and guests to cooperate at all times with the University in order to maintain a safe environment.</i></b><br>
			<br>
			Examples of violations include but are not included to: retaliation toward an individual for involvement in a University activity; disruption of activities of the University; harassment of University staff (including student staff); submission of a false or purposely incomplete statement/report; misuse, alteration, or transference to another person of the MavCard; failure to appear in response to a proper summons, when requested to do so by a University official; disruption of disciplinary activites; dishonesty as part of a University hearing; misuse of one's position wihin the University; failure to comply with restriction from areas on campus; or demanding inordinate amounts of attention for faculty or staff.</li>
			<br>
		</ol>
		<h1 id="ssp" class="background">Definitions</h1>
		<p id="ssp">Allegations of discrimination, harassment, and sexual violence as defined in MnSCU Board Policy shall be investigated and resolved puruant to MnSCU 1B, 1B.1, 1B.3 Equal Education and Employment Opportunity Policies and Procedures. </p>
		<p id="ssp">For purposes of student conduct the following definitions apply: </p>
		<p id="ssp"><b>Hazing.</b> An Act which endangers the mental or physical health or safety of a person, subjects a person to public humiliation or ridicule, or which destroys or removes public or private property for the purpose of initiation, admission into, affiliation with, or as a condition for continued membership in a student group, organization, or athletic team.</p>
		<p id="ssp"><b>Preponderance of evidence.</b> A standard of responsibility that it is more likely than not that the code has been violated.</p>
		<p id="ssp"><b>Student.</b> The term "student" includes all persons who: </p>
		<ol id="ssp">
			<li>Are enrolled in one or more college courses, either credit or non-credit;</li>
			<br>
			<li> Withdraw, transfer or graduate, after an alleged violation of the student conduct code;</li>
			<br>
			<li>Are not officially enrolled for a particular term but who have a continuing relationship with the University;</li>
			<br>
			<li>Have been notified of their acceptance for admission or have initiated the process of application for admission or financial aid; and/or </li>
			<br>
			<li>Are living in a University residence community although not enrolled in the institution.</li>
		</ol>
	<p id="ssp"><b>Summary suspension.</b> A suspension imposed without a formal hearing to protect the safety and well-being of the campus community.</p>
	<p id="ssp"><b>Suspension.</b> Denial of the privilege of enrollment for a specified period of time after which the student is eligible to return. Conditions for re-enrollment may be specified.</p>
	<p id="ssp"><b>Expulsion.</b> Permanent denial of the privilege of enrollment.</p>
	<h1 id="ssp" class="background">Jurisdiction</h1>
	<p id="ssp">All students, regardless of the location of their residence, must demonstrate good character as members of the University community. The University will address violations of the "Statement of Student Responsibilities" that occur on campus, including satellite campus sites.</p>
	<p id="ssp">The University may also initiate conduct proceedings for off-campus incidents when:</p>
	<p id="ssp">(1) Hazing is involved; or <br>
	<br>
	(2) The violation is committed while participating in a University sanctioned or sponsored activity; or <br>
	<br>
	(3) The victim of the violation is a member of the University community; or <br>
	<br>
	(4) The violation constitutes a felony under state or federal law; or <br>
	<br>
	(5) The violation adversely affects the educational, research or service function of the University, e.g. riotous behavior.</p>
	<p id="ssp">Administration has sole discretion to decide whether the student conduct code shall be applied to conduct occurring off-campus on a case by case basis.</p>
	<p id="ssp">Off-campus jurisdiction for alcohol and drug violations extends to:</p>
	<ul id="ssp">
		<li>Significant first time alcohol or drug-related violations such as furnishing alcohol to minors, social host violations, distribution of illicit drugs;</li>
		<li>Repeated alcohol or drug-related legal violations;</li>
		<li>Substance use necessitating medical assistance; or</li>
		<li>Situations in which alcohol and drug use prevented the student from being able to fulfill essential functions or created a direct threat to the safety of others.</li>
	</ul>
	<p id="ssp">Residential Life conduct procedures are articulated in the Residential Life Student Guide. </p>
	<h2 id="ssp">Online Communication</h2>
	<p id="ssp">Students are encouraged to become actively engaged in the University community. Social networking websites, e.g. Facebook, MySpace, provide additional means for students to connect with one another. Communication on these sites
 is considered a public forum and can be viewed by anyone.
 To support personal safety and guard against identity theft,
 students are cautioned against including class schedules,
 birthdates, cell phone numbers and addresses on their profiles.
<b> While the University does not monitor such sites, suspected
 violations of law or University policy posted online may be
 submitted to campus officials and police for investigation and
 use in a disciplinary proceeding.</b></p>
 <h1 id="ssp" class="background">Due Process in Academic and Disciplinary Proceedings</p>
 <h2 id="ssp">Staff and Administrative Decisions</h2>
 <p id="ssp">Alleged violations of rules or policies developed by an
 administrative unit may be reviewed and/or addressed within
 that unit. An alleged violation also may be referred to the
 Office of Student Conduct for discipline with the agreement
 of the unit representative and the Director of Student Conduct.
 The Office of Student Conduct may determine the appropriate
 recourse for addressing alleged student misconduct in
 consultation with the Department of Residential Life, Office
 of Affirmative Action, Office of Human Resources, and the
 College of Graduate Studies and Research. </p>
 <h2 id="ssp">Faculty and Academic Department Decisions</h2>
 <p id="ssp">Allegations of academic dishonesty, e.g. cheating and
 plagiarism, are addressed by the instructor. <b>Academic
 sanctions such as a failing grade or dismissal from the
 program, will first be determined by the instructor and the
 academic unit.</b> The matter may then be referred to the Office
 of Student Conduct after consultation with department chair
 for possible disciplinary action in addition to the academic
 consequences imposed by the department.</p>
	<p id="ssp">Graduate students are also subject to academic integrity
 expectations and review procedures established by the
 College of Graduate Studies and Research.</p>
 <p id="ssp"><b>Academic dishonesty addressed by a faculty member entitles
 students to the following due process considerations:</b></p>
 <ol id="ssp">
	<li>Oral or written notice of the allegations.</li>
	<br>
	<li>An explanation of the complaint.</li>
	<br>
	<li>An opportunity to present their side of the story.</li>
	<br>
	<li>Written notice of the decision and any applicable sanction(s).</li>
	<br>
	<li>An opportunity to appeal the decision and sanction(s)</li>
</ol>
<p id="ssp"><b>Disciplinary actions addressed by a conduct officer within the
 Office of Student Conduct entitle students to the following due
 process considerations:</b></p>
<ol id="ssp">
	<li>Written notice of the allegations and the Student Responsibility allegedly violated.</li>
	<br>
	<li>An explanation of the complaint.</li>
	<br>
	<li>An opportunity to tell their side of the story.</li>
	<br>
	<li>An opportunity to be accompanied by a support person who can advice, but not participate directly.</li>
	<br>
	<li>Written notice of the outcome and any applicable sanctions.</li>
	<br>
	<li>An opportunity to appeal in accordance with the applicable grounds and timeline for appeal.</li>
</ol>
<p id="ssp"><b>Student conduct proceedings are not analogous to courtroom
 proceedings; the technical procedures and rules of evidence
 applicable to civil and criminal cases shall not apply.</b></p>
	<h2 id="ssp">Role of Advisor</h2>
	<p id="ssp">A support person serving as an advisor cannot participate
 in questioning or presentation of information. It is up to the
 student to pick an advisor available at the designated date
 and time. Attorney schedules are not taken into consideration
 when scheduling conduct meetings since it is an educational
 process, not a criminal proceeding. An advisor cannot also
 serve as a witness.</p>
<h1 id="ssp" class="background">Communication with Students</h1>
	<p id="ssp">The official means of University communication with students is
 mnsu.edu email. Conduct letters are sent through e-mail using
 confidential Maxient software. Students are expected to check
 e-mail frequently to avoid missing important correspondence
 and deadlines.</p>
 <h1 id="ssp" class="background">Summary Suspension</h1>
 <p id="ssp">In certain circumstances, a disciplinary administrator may
 impose a summary suspension prior to the informal or
 formal proceedings of the student conduct code. A summary
 suspension may be imposed only when, in the judgment of
 the administrator, the accused student’s presence on campus
 would constitute a threat to the safety and well-being of
 members of the campus community. To the greatest extent
 possible before implementing the summary suspension, the
 accused student shall be given oral or written notice of the
 intent to impose summary suspension and shall be given
 an opportunity to present oral or written arguments against
 the imposition of the suspension. However, the refusal of a
 student to accept or acknowledge this notice shall not prevent
 the implementation of a summary suspension. Notice of the
 summary suspension shall be provided in writing to the student.
 After the student has been summarily suspended, the student
 shall be provided an opportunity for a formal or informal
 meeting within the shortest reasonable time period, not to
 exceed nine (9) school or business days. During the summary
 suspension, the student may not enter the campus without
 obtaining prior permission from the administrator.</p>
<h1 id="ssp" class="background">Data Privacy Notice</h1>
<p id="ssp">When investigating alleged student misconduct, Minnesota
 State University, Mankato asks students to provide data
 and information which may be private under State and
 Federal Law. The information will be used by the conduct
 officer and others whose jobs reasonably requires access
 to the information in order to determine the facts and if any
 action should be taken. It may also be used in subsequent
 proceedings related to this matter.</p>
 <p id="ssp">Students are not required to disclose information during
 an interview or conduct meeting. If the student agrees to
 provide requested information, it will be used to assist in the
 investigation. A student’s failure to provide the information
 requested will require a decision to be made without benefit of
 hearing the information that the student could provide.</p>
 <p id="ssp">The University expects that any information volunteered will
 be truthful. Dishonesty as part of the conduct process is
 grounds for subsequent disciplinary action and more severe
 consequences.</p>
 <p id="ssp">The following individuals/entities may have a legal right
 to access the information provided by students during the
 investigative process:</p>
 <ol id="ssp">
	<li>To school officials who have a legitimate educational
 interest in the records;</li>
	<br>
	<li>To authorized representatives of the U.S. Department of
 Education, the Comptroller General, Attorney General,
 and State and local educational authorities, in connection
 with audit of state or federally supported education
 programs;</li>
	<br>
	<li>In connection with a student’s request for or a receipt
 of financial aid to determine the eligibility, amount, or
 conditions of the financial aid, or to enforce the terms and
 conditions of the aid;</li>
	<br>
	<li>To State and local officials or authorities if specifically
 required by a State law that was adopted before
 November 19, 1974 if the disclosure concerns the
 juvenile justice system and the system's ability to effectively
 serve the student whose records are released;</li>
	<br>
	<li>To organizations conducting certain studies for or on
 behalf of the University;</li>
	<br>
	<li>To accrediting organizations to carry out their functions;</li>
	<br>
	<li>To comply with a judicial order or a lawfully issued
 subpoena;</li>
	<br>
	<li>To appropriate parties (parents, law enforecement and
 others) when an articulable and significant health or safety
 emergency arises. A record must be created promptly
 and maintained that includes the threat, description of
 the records disclosed and to whom the records were
 disclosed;</li>
	<br>
	<li>To individuals requesting directory information so designated by the University;</li>
	<br>
	<li>To the victim of a crime of violence or non-forcible sex
 offense, the University may release the final results of
 any disciplinary proceeding conducted by the University
 against the alleged perpetrator of that crime;</li>
	<br>
	<li>To other educational institutions where the student intends
 to enroll or has enrolled at any time. This includes
 returning educational records to the original source of the
 record for apporpriate purposes, such as verification of
 the document's authenticity;</li>
	<br>
	<li>In connection with information provided to the University
 from law enforcement about a student required to register
 as a sex offender;</li>
	<br>
	<li>In response to an ex parte court order from the U.S.
 Attorney under the USA Patriot Act.</li>
</ol>
<p id="ssp">If any disciplinary action is taken and becomes final, the
 nature of the final disposition of the disciplinary action,
 together with the specific reasons for the action and
 information documenting the basis of the action, excluding
 information that would identify confidential sources, will be
 disclosed to University officials with a “need to know” as
 defined under the Family Educational Rights and Privacy Act.</p>
 <h1 id="ssp">Retaliation Prohibited</h1>
 <p id="ssp"><b>Retaliation against an individual for making a complaint or
 participating in a disciplinary proceeding is prohibited and
 subject to disciplinary action.</b></p>
 <h1 id="ssp">Procedures</h1>
 <p id="ssp"><b>The following procedures are applicable and specific to
 matters addressed under MnSCU 3.6., Student Conduct.</b></p>
 <p id="ssp"><b>A. Initiation of Complaint</b><br>
 Any member of the University community, or other individual
 who has been impacted by the alleged behavior of a student,
 may initiate a complaint by contacting the Director of Student
 Conduct. While anyone may submit a complaint, the University
 will first investigate to determine if the complaint seems warranted.
 The person submitting a complaint will be provided a Tennessen
 Warning and informed of the estimated time of investigation.</b></p>
 <p id="ssp"><b>B. Notification of the Student</b><br>
 A student accused of violating a Responsibility will be notified
 in writing of the nature of the evidence, the Responsibility(ies)
 allegedly violated, and the possible sanctions. </p>
 <p id="ssp"><b>C. Informal Conduct Meeting</b><br>
 The accused student will be offered an opportunity to meet with
 a conduct officer to resolve the violation at an informal meeting.
 During the meeting the conduct officer will review the complaint
 with the student and allow the student to refute or acknowledge
 the complaint. Within a reasonable time period following the
 meeting, the conduct officer shall inform the student in writing
 of the decision and whether a violation of the “Statement of
 Student Responsibilities” was established by a preponderance
 of evidence. The outcome letter will also identify any applicable
 sanctions as well as options available for an appeal.</p>
 <p id="ssp"><u>If the accused student fails to appear, the conduct officer or
Conduct Board may proceed to review and act upon the
complaint and shall notify the student in writing of the decision
and sanctions, if applicable.</u> A “hold” may also be placed on
registration pending resolution of the matter and completion
of sanctions.</p>
 <br>
	<br>
	<%= image_tag "back_page.png" %>
</body>
</html>