// Place all the styles related to the academichonesty controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table{
	table-layout: fixed;
	border-collapse: collapse;
	font-size: 25px;
	min-width: 750px;
}
th, td{
	border-style: solid;
	border-color: black;
	border-width: 1px;
	text-align: center;
}
th{
	height: 50px;
}
td{
	padding: 5px;
}
#table_heading{
	font-size: 30px;
	color: white;
	border-top-width: 5px;
}
#table_cell_heading{
	background-color: #480059;
}
body{
	padding-left: 250px;
	padding-right: 250px;
	padding-top: 50px;
	padding-bottom: 50px;
}
#paragraph, #paragraph3, #paragraph4, ul{
	font-size: 20px;
	min-width: 750px;
}
#paragraph3{
	padding-left: 175px;
	min-width: 600px;
}
#paragraph4{
	padding-left: 75px;
	min-width: 600px;
}